<p class="flow-text">

Christian is a graduate and currently junior engineer of Mangium Software based in El Salvador City, Philippines that focuses on delivering quality consulting services using Java and other related software development technologies and frameworks and also a consultant/trainer at Cleversoft Inc. in Test Driven Development. He has been exposed to SCRUM, agile software development, good programming practices, clean code. He is a graduate of Bachelor of Science in Information Technology(BSIT) at Mindanao University of Science and Technology.

</p>
